/* FONTS: */

@font-face {
  font-family: "dunkin";
  src: url("/fonts/dunkin_bold-webfont.woff2") format("woff2"),
    url("/fonts/dunkin_bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "infinity";
  src: url("/fonts/madeinfinity_personaluse-thin-webfont.woff2") format("woff2"),
    url("/fonts/dunkin_bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "roboto";
  src: url("/fonts/roboto-condensed-webfont.woff2") format("woff2"),
    url("/fonts/roboto-condensed-webfont.woff") format("woff");
}
/*  */
* {
  margin: 0;
  padding: 0;
}

.head-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;

  border-bottom: 1px solid #475569;
  box-shadow: 2px 2px 5px;
  background-color: #f5f5f4;
}

.logo-container {
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 40px;

  border: 3px solid#38bdf8;
  align-items: center;
  font-family: "infinity";
  color: #38bdf8;
  font-weight: 900;

  cursor: pointer;
  justify-self: center;
}

.letter {
  align-self: flex-start;
  font-size: 45px;
}
.point {
  font-size: 50px;
}

/* Right side of header */

.link-container {
  display: flex;
  gap: 25px;
  font-family: "roboto";
  font-size: 1.2rem;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  position: relative;
}

a::after {
  content: "";
  width: 100%;
  border-bottom: 3px solid #38bdf8;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
a:hover::after {
  opacity: 1;
}
a:visited {
  color: #475569;
}

/* Project section */

.project-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px repeat(5, 400px);
}

.project-heading {
  grid-column: 1/5;
  margin: 30px;
  font-family: "infinity";
  font-size: 1.5rem;
}
.project-heading:hover {
  text-decoration: underline #38bdf8 3px;
}

.pro-image {
  width: 45%;
  height: 80%;
}

.descption-pro {
  width: 45%;
  font-family: "roboto";
  font-size: 1rem;
}
.descrip-heading {
  font-weight: 900;
  font-size: 1.5rem;
}

.bold-pro {
  font-weight: 900;
  font-size: 1.2rem;
}
.pro-1,
.pro-2,
.pro-3,
.pro-4,
.pro-5,
.pro-6 {
  display: flex;
}

.pro-1 {
  grid-column: 1/3;
}
.pro-2 {
  grid-column: 3/5;
}
.pro-3 {
  grid-column: 1/3;
}
.pro-4 {
  grid-column: 3/5;
}
.pro-5 {
  grid-column: 1/3;
}
.pro-6 {
  grid-column: 3/5;
}
