/* FONTS: */

@font-face {
  font-family: "dunkin";
  src: url("/fonts/dunkin_bold-webfont.woff2") format("woff2"),
    url("/fonts/dunkin_bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "infinity";
  src: url("/fonts/madeinfinity_personaluse-thin-webfont.woff2") format("woff2"),
    url("/fonts/dunkin_bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "roboto";
  src: url("/fonts/roboto-condensed-webfont.woff2") format("woff2"),
    url("/fonts/roboto-condensed-webfont.woff") format("woff");
}
/*  */
* {
  margin: 0;
  padding: 0;
}

.head-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;

  border-bottom: 1px solid #475569;
  box-shadow: 2px 2px 5px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 40px;

  border: 3px solid#38bdf8;
  align-items: center;
  font-family: "infinity";
  color: #38bdf8;
  font-weight: 900;

  cursor: pointer;
  justify-self: center;
}

.letter {
  align-self: flex-start;
  font-size: 45px;
}
.point {
  font-size: 50px;
}

/* Right side of header */

.link-container {
  display: flex;
  gap: 25px;
  font-family: "roboto";
  font-size: 1.2rem;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: #475569;
}
