/* FONTS: */

@font-face {
  font-family: "dunkin";
  src: url("/fonts/dunkin_bold-webfont.woff2") format("woff2"),
    url("/fonts/dunkin_bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "infinity";
  src: url("/fonts/madeinfinity_personaluse-thin-webfont.woff2") format("woff2"),
    url("/fonts/dunkin_bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "roboto";
  src: url("/fonts/roboto-condensed-webfont.woff2") format("woff2"),
    url("/fonts/roboto-condensed-webfont.woff") format("woff");
}
/*  */
* {
  margin: 0;
  padding: 0;
}

.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 102px;
}
.head-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;

  border-bottom: 1px solid #475569;
  box-shadow: 2px 2px 5px;
  background-color: #f5f5f4;
}

.logo-container {
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 40px;

  border: 3px solid#38bdf8;
  align-items: center;
  font-family: "infinity";
  color: #38bdf8;
  font-weight: 900;

  cursor: pointer;
  justify-self: center;
}

.letter {
  align-self: flex-start;
  font-size: 45px;
}
.point {
  font-size: 50px;
}

/* Right side of header */

.link-container {
  display: flex;
  gap: 25px;
  font-family: "roboto";
  font-size: 1.2rem;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  position: relative;
}

a::after {
  content: "";
  width: 100%;
  border-bottom: 2px solid #38bdf8;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
a:hover::after {
  opacity: 1;

  /* text-decoration: underline #475569 4px; */
  /* transition: 2.5s ease-in-out; */
}
a:visited {
  color: #475569;
}
